{% extends 'index.html' %}
{% block body %}
<form action="loginnew" method="post">
  <div align="center">
    <table width="262" border="0">
      <tr>
        <td width="170">USERNAME</td>
      <td width="76"><input type="text" name="textfield" required/></td>
    </tr>
      <tr>
        <td>PASSWORD</td>
      <td><input type="password" name="textfield2" required/></td>
    </tr>
      <tr>
        <td>&nbsp;</td>
      <td><input type="submit" name="Submit" value="LOGIN" /></td>
    </tr>
    </table>
  </div>
</form>
{% endblock %}