{% extends 'staffindex.html' %}
{% block body %}

<form action="addcommentscode" method="post">
  <div align="center">
    <table width="355" border="1">
      <tr>
        <td width="138">Student Admission No </td>
      <td width="201"><label><fieldset>
        <select name="select">
          {% for i in data %}
          <option value="{{i[4]}}">{{i[1]}}</option>
          {% endfor %}
          </select>
      </fieldset>
      </label></td>
    </tr>
      <tr>
        <td>Comment</td>
      <td><label>
        <input type="text" name="textfield2" required/>
        </label></td>
    </tr>
      <tr>
        <td colspan="2"><div align="center">
          <label>
            <input type="submit" name="Submit" value="Submit" />
            </label>
        </div></td>
      </tr>
    </table>
  </div>
</form>
{% endblock %}