{% extends 'staffindex.html' %}
{% block body %}
<form action="/updatesubject" method="post">
<table width="225" border="1">
  <tr>
    <td width="158">Course</td>
    <td width="51"><label>
      <select name="select1">
        <option value="{{data[1]}}" selected>{{data[5]}}</option>
        {% for i in data1 %}
        <option value="{{i[0]}}">{{i[1]}}</option>
        {% endfor %}
      </select>
    </label></td>
  </tr>
  <tr>
    <td>Sem</td>
    <td><label>
      <select name="select2">
        <option value="{{data[2]}}" selected>{{data[2]}}</option>
        <option value="1">1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
      </select>
    </label></td>
  </tr>
  <tr>
    <td>Subject</td>
    <td><label>
      <input type="text" name="textfield" value="{{data[3]}}" />
    </label></td>
  </tr>
  <tr>
    <td colspan="2"><div align="center">
      <label>
      <input type="submit" name="Submit" value="Update" />
      </label>
    </div></td>
    </tr>
</table>

</form>
{% endblock %}
