{% extends 'staffindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="200" border="0">
      <tr>
        <td><div align="center"><a href="viewsubject">add/manage subject</a></div></td>
    </tr>
      <tr>
        <td><div align="center"><a href="addinternalmark">add internal mark</a></div></td>
    </tr>
      <tr>
        <td><div align="center"><a href="viewinternalmark">view internal mark</a></div></td>
    </tr>
      <tr>
        <td><div align="center"><a href="viewattendance">view attendance</a></div></td>
    </tr>
      <tr>
        <td><div align="center"><a href="viewfeedback">view feedback</a></div></td>
    </tr>
      <tr>
        <td><div align="center"><a href="addcomments">add comments</a></div></td>
    </tr>
      <tr>
        <td><div align="center"><a href="performancegrade">view grade performance</a></div></td>
    </tr>
      <tr>
        
    </tr>
    </table>
    <a href="/">Logout</a>
    <p>&nbsp;</p>
  </div>
</form>
{% endblock %}