{% extends 'staffindex.html' %}
{% block body %}
<form action="" method="post">
<table width="633" height="143" border="1">
  <tr>
    <td width="75">Course</td>
    <td width="125"><label>
      <div align="center">
        <select name="select">
          <option>BBA</option>
          <option>BCA</option>
          <option>BCOM</option>
          <option>CS</option>
          <option>BMMC</option>
        </select>
        </div>
    </label></td>
    <td width="110">Sem</td>
    <td width="73"><label>
      <div align="center">
        <select name="select2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
        </select>
        </div>
    </label></td>
    <td width="85">Date</td>
    <td width="125">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6"><div align="center"></div></td>
    </tr>
  <tr>
    <td>Student Name </td>
    <td>Attendance</td>
    <td colspan="4">&nbsp;</td>
    </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="4"><div align="right"><a href="#">Edit</a></div></td>
    </tr>
</table>

</form>
{% endblock %}
