{% extends 'adminindex.html' %}
{% block body %}
<form action="addstudentcode" method="post" enctype="multipart/form-data">
<table width="310" border="1">
  <tr>
    <td width="92">First name</td>
    <td width="202"><input type="text" name="textfield" required pattern="[A-Z a-z.]{3,25}"/></td>
  </tr>
  <tr>
    <td>Last name </td>
    <td><input type="text" name="textfield2" required pattern="[A-Z a-z.]{3,25}"/></td>
  </tr>
  <tr>
    <td>Admission No </td>
    <td><input type="text" name="textfield3" required /></td>
  </tr>
  <tr>
    <td>Gender</td>
    <td><input name="radiobutton" type="radio" value="male" checked />
      Male
        <input name="radiobutton" type="radio" value="female" />
      Female</td>
  </tr>
  <tr>
    <td>Course</td>
    <td><select name="select" required>
     {% for i in data1 %}
      <option value="{{i[0]}}">{{i[1]}}</option>
      {% endfor %}
    </select></td>
  </tr>
  <tr>
    <td>Sem</td>
    <td><select name="select2" required>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
    </select>    </td>
  </tr>
  <tr>
    <td>DOB</td>
    <td><input type="date" name="textfield12" min="1990-01-01" max="2010-12-31" required/></td>
  </tr>
  <tr>
    <td>Photo</td>
    <td><label>
      <input type="file" name="file" />
    </label></td>
  </tr>
  <tr>
    <td>House name </td>
    <td><label>
      <input type="text" name="textfield4" required pattern="[A-Z a-z.]{3,25}"/>
    </label></td>
  </tr>
  <tr>
    <td>District</td>
    <td><label>
      <input type="text" name="textfield5" required pattern="[A-Z a-z.]{3,25}"/>
    </label></td>
  </tr>
  <tr>
    <td>Place</td>
    <td><label>
      <input type="text" name="textfield6" required pattern="[A-Z a-z.]{3,25}"/>
    </label></td>
  </tr>
  <tr>
    <td>Post</td>
    <td><label>
      <input type="text" name="textfield7" required pattern="[A-Z a-z.]{3,25}"/>
    </label></td>
  </tr>
  <tr>
    <td>Pin</td>
    <td><label>
      <input type="text" name="textfield8" required pattern="[0-9]{6}"/>
    </label></td>
  </tr>
  <tr>
    <td>Contact No </td>
    <td><label>
      <input type="text" name="textfield9" required pattern="[6789][0-9]{9}"/>
    </label></td>
  </tr>
  <tr>
    <td>Mail</td>
    <td><label>
      <input type="text" name="textfield10" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"/>
    </label></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><label>
      <input type="password" name="textfield11" required/>
    </label></td>
  </tr>
  <tr>
    <td colspan="2"><div align="center">
      <input type="submit" name="Submit" value="Register" />
    </div></td>
    </tr>
</table>

</form>
{% endblock %}
